.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    height: 70px;
    align-items: center;
    background-color: rgba(27, 14, 44, 0.95);
    margin-top: 3rem;
    color: #fff;
    font-family: var(--font-tittle);
    font-weight: 600;
    letter-spacing: 1px;
}


.social__media--footer{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.social__media--footer a{
    cursor: pointer;
    width: 30px;
}

.social__media--footer a:hover{
    transform: scale(1.1);
}
